body {
  overflow-x: hidden;
}

.home{
  margin-top: 230px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}


.inicio{
  display: flex;
}

.cursos{
  color: white;
}


.sociais{
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sociais p{
  align-items: center;
  width: 350px;
  padding: 5%;
}

.sociais img{
  height: 200px;
  width: 230px;
}


footer{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  gap: 150px;
}

.report{
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.home-report{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  gap: 100px;
  height: 100vh;
}

.btn-custom {
  background-color: rgb(167, 222, 230);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}
.btn-custom:hover {
  background-color: pink;
}

.posts{
  margin-top: 700px;
}

.posts p{
  text-align: start;
}

a{
  color: black;
}



